$colors: (
  primary: (
    900: rgb(3,3,3),
    800: rgb(85,32,73),
    400: rgb(122,116,110),
    100: rgb(255, 247, 240),
  ),
  neutral: (
    900: rgb(117,92,222),
    800: rgb(97,196,183),
    400: rgb(235,117,101),
    300: rgb(246,165,96),
    100: #f39e9e,
  ),
);
  