@use 'base';
@use 'components';
@use 'layout';
@use 'utilities';
@use 'abstracts' as *;
// @use 'vendor';
.logo{
    width: 48px;
    height: 48px;
}

.grid{
    display: grid;
    grid-template-areas: 
        'a a'
        'b c'
        'd d'
        'e e'
        'f f'
        ;
    gap: 1.5rem;


    &__inner{
        --columns: repeat(2, 1fr);
        display: grid;
        grid-template-columns: var(--columns);
        grid-template-rows: repeat(2, auto);
        gap: 1.5rem;

        .last-child{
            grid-column: 1/-1;
        }
    }

    &__card-1{
        grid-area: a;
    }
    &__card-2{
        grid-area: b;
    }
    &__card-3{
        grid-area: c;
    }
    &__card-4{
        grid-area: d;
    }
    &__card-5{
        grid-area: e;
    }
    &__card-6{
        grid-area: f;
    }

    &[data-card-img= 'small'] {
        width: 64px;
    }
    &[data-card-img= 'medium']{
        width: 128px;
    }
    &[data-card-img= 'large']{
        width: 160px;
    }

    @include mq(medium){
        &{
            grid-template-areas: 
                'a a b c'
                'a a d d'
                'a a d d'
                'e e f f'
                ;
        }
        &__card-1{
            grid-area: a;
        }
        &__card-2{
            grid-area: b;
        }
        &__card-3{
            grid-area: c;
        }
        &__card-4{
            grid-area: d;
        }
        &__card-5{
            grid-area: e;
        }
        &__card-6{
            grid-area: f;
        }
     }
    @include mq(large){
        &{
            grid-template-areas: 
                'a a b c d d'
                'a a e e f f'
                ;
        }
        &__card-1{
            grid-area: a;
        }
        &__card-2{
            grid-area: b;
        }
        &__card-3{
            grid-area: c;
        }
        &__card-4{
            grid-area: d;
        }
        &__card-5{
            grid-area: e;
        }
        &__card-6{
            grid-area: f;
        }
    }
}

.responsive-padding{
    padding-inline: clamp(25px, 6vw, 500px);
    @include mq(large){
        padding-inline: 178px;
    }
}
.about-me{
    max-width: 620px;
    &__img-wrapper { 
        width: max(300px,55%); 
    }


    @include mq(medium){
        display: flex;
        gap: 1.5rem;
        max-width: none;
        align-items: center;
        &__img-wrapper{
            margin:0;
            flex: 1;
            position: relative;
            left: -70px;
            // height: 364px;
        }
        &__img{
            height: 364px;
            width: 364px;
            object-fit: cover;
            overflow: visible;
        }
        &__description{
            text-align: left;
            flex: 1;
        }
  
    }
    @include mq(large){
            max-width: none;
            position: initial;
            gap: 125px;
        &__img-wrapper{
            position: relative;
            left: 0px;
            // height: 445px;
        } 
        &__img{
            height: 445px;
            width: 445px;
        }
    }
}
.info-card {
    @include mq(medium){
        padding: 56px 75px 64px;
    }

    @include mq(large){
        padding-block: 80px;
        padding-inline-start: 65px;
        padding-inline-end: 95px;
        text-align: left;
        display: grid;
        grid-template-areas: 
            'a c'
            'b c'
            ;
        grid-template-columns: minmax(200px,1fr) 1fr;

        &__title{
            grid-area: a;
        }
        &__paragraph{
            grid-area: b;
        }
        &__button{
            grid-area: c;
            align-self: center;
            justify-self: right;
            
        }
            
    }
}
@keyframes scrollLeft {
    to {
        left: -270px;
    }
    
}
.slideshow{
    position: relative;
    height: 180px;
    overflow: hidden;
}
.slide{
    position: absolute;
    width: 270px;
    left: calc(270px * 5);
    animation: scrollLeft 14s linear infinite; 

    
    img{
        border-radius: 8px;
        object-fit: cover;
    }
}
.slide:nth-of-type(1) {
    animation-delay: calc(14s / 5 * (5 - 1) * -1);
}
.slide:nth-of-type(2) {
    animation-delay: calc(14s / 5 * (5 - 2) * -1);
}
.slide:nth-of-type(3){
    animation-delay: calc(14s / 5 * (5 - 3) * -1);
}
.slide:nth-of-type(4){
    animation-delay: calc(14s / 5 * (5 - 4) * -1);
}
.slide:nth-of-type(5){
    animation-delay: calc(14s / 5 * (5 - 5) * -1);
}