@use 'base';
@use 'components';
@use 'layout';
@use 'utilities';
// @use 'vendor';
.logo{
    width: 48px;
    height: 48px;
}

.grid{
    display: grid;
    // grid-template-columns: repeat(2, 1fr);
    // grid-template-rows: repeat(6, auto);
    grid-template-areas: 
        '';
    gap: 1.5rem;


    &__inner{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1.5rem;
    }

    &__item{
        width: 100%;
        object-fit: cover;

        &[data-card-img= 'small'] {
            width: 64px;
        }
        &[data-card-img= 'medium']{
            width: 128px;
        }
        &[data-card-img= 'large']{
            width: 160px;
        }

    }
}

