@use '../abstracts' as *;

.container{
    --padding: #{$container-inline-padding} * 2;
    --max-width: #{$container-max-width};

    width: min(100% - var(--padding), var(--max-width));
    margin-inline: auto;

    @include mq(medium){
        --padding:80px;
        --max-width: 850px;
    }
    @include mq(large){
        --padding:165px;
        --max-width: 1110px;
    }
}

.container[data-type='wide']{
    --max-width: #{$container-max-width-wide};
}
