@use '../abstracts' as *;

.flex-group{
    display: flex;
    flex-wrap: wrap;
    // column-gap: var(--flex-column-gap, $flex-group-gap);
    // row-gap: var(--flex-row-gap, calc($flex-group-gap / 2));
    // justify-content: space-between;
    min-width: 343px;

    & .logo{
        margin-right: auto;
    }
}

// .flex-group.mx-auto{
    // justify-content: center;
// }